@media (max-width: 480px){
    body{
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        place-items: center;
    }

    #cadastro-container{
        width: 90%;
        position: relative;
    }


}

@media (max-width: 780px){
    body{
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        place-items: center;
    }

    #cadastro-container{
        width: 90%;
        position: relative;
    }
}